<div class="navbar navbar-default" role="navigation" bs-navbar>
  <ul class="nav navbar-nav">
    <li data-match-route="/file"><a href="#/file">File</a></li>
    <li data-match-route="/questions"><a href="#/questions">Questions</a></li>
  </ul>
</div>
