<div id="questions-container">
<form>
	<div ng-repeat="question in questions.questionsData.list" class="question">
		<div class="question-label">Question {{$index}}</div>
		<textarea disabled type="text">{{question.question_text}}</textarea>
		<div class="answer-label">Answer {{$index}}</div>
		<textarea ng-change="questions.onAnswerChange($index)" ng-model="question.answer" type="text"></textarea>

		<div class="rating-container">
			<span>My Rating</span>
			<div class="pull-right">
				<span>Poor</span>
				<i ng-click="questions.setRating($parent.$index,x)" ng-repeat="x in [1,2,3,4,5,6,7,8,9]" ng-class="{'fa':true, 'fa-circle':question.rating>=x,'fa-circle-thin':question.rating<x}"></i>
				<span>Excellent</span>
			</div>
		</div>
	</div>
</form>

<button ng-click="questions.questionsData.add()" type="button" class="btn btn-primary center-block">Add question</button>

</div>
