<div id="text-editor-container" class="col-md-6 col-xs-12">
	<div id="save-status" ng-class="{'green':!texteditor.saveQueue,'red':texteditor.saveQueue}">
		<i class="fa fa-circle"></i>
	</div>
	<div id="text-editor" rich-text-editor></div>
</div>
