
/*Text Editor*/
	#text-editor-container{
		border-right: 1px solid #ddd;
		padding-top: 10px;
		position: fixed;
		left: 0px;
		top: 0px;
		bottom: 0px;
	}
	#text-editor{
		width: 100%;
		height: 100%;
	}
	#save-status{
		position: absolute;
		right: 18px;
		top: 16px;
		font-size: 16px;
	}
	#save-status.red i{
		color: red;
	}
	#save-status.green i{
		color: green;
	}

/*File*/
	#file-container{
		position: relative;
	}
	#file-container #page-container{
		bottom: inherit;
	}


/*Questions*/
	.rating-container{
		background-color: #ddd;
		height: 40px;
		padding: 10px;
		margin-top: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.rating-container > * {
		display: inline-block;
	}
	#questions-container input{
		width: 97%;
		margin-left: 3%;
		margin-top: 10px;
		margin-bottom: 15px;
	}
	.rating-container i{
		padding-left: 5px;
		padding-right: 5px;
	}
	.rating-container .pull-right span{
		margin-left: 10px;
		margin-right: 10px;
	}
	.question-label{
		margin-top: 40px;
	}
	#questions-container button{
		margin-top: 40px;
		margin-bottom: 20px;
	}
	#questions-container textarea{
		width: 97%;
		margin-left: 3%;
	}
